<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form action="http://localhost:8000/registration" method="post">
    <h2>Регистрация</h2>
    <p>Ваше имя:</p><br>
    <input type="text" name="name" placeholder="Введите имя"><br><br>
    <p>Логин:</p><br>
    <input type="text" name="login" placeholder="Введите логин"><br><br>
    <p>Пароль:</p><br>
    <input type="password" name="password" placeholder="Введите пароль"><br><br>
    <input type="submit" value="Зарегистрироваться">
</form>
</body>
</html>